* {
  box-sizing: border-box;
  font-size: 0.95em;
  margin: 0px;
  padding: 0px;
  word-break: break-word;
}

/* ################################## Root ################################## */

#root {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#root > *:not(:first-child) {
  margin-top: 16px;
}

#root > #module-list,
#root > #invoke-result,
#root > #invoke-count {
  display: flex;
  justify-content: center;
  text-align: center;
}

#root > .storage-container,
#root > .location-container,
#root > .media-container,
#root > .debug-container {
  align-items: center;
  display: flex;
}

#root .instruction {
  align-items: center;
  border: 0.5px solid black;
  display: flex;
  flex: 0 0 calc((100% - 32px) / 3);
  height: 48px;
  justify-content: center;
}

#root .actionable {
  background-color: grey;
  border: none;
  color: white;
}

#root input {
  border: 0.5px solid grey;
}

/* ################################ Storage ################################ */

.storage-container > * {
  width: calc(100% / 3);
}

.storage-container > *:not(:first-child) {
  margin-left: 16px;
}

.storage-container > .key,
.storage-container > .value {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  text-align: center;
}

.storage-container > .observe-value {
  border: 0.5px solid grey;
  overflow: hidden;
}

/* ################################ Location ################################ */

.location-container > .current-coordinate {
  margin-left: 16px;
  width: 100%;
}

/* ################################# Media ################################# */

.media-container > *:not(:first-child) {
  margin-left: 16px;
}

.media-container > .progress-container {
  align-items: center;
  display: flex;
  position: relative;
  width: calc(100% * 2 / 3);
}

.progress-container > .progress-line {
  background: black;
  height: 1px;
  width: 100%;
}

.progress-container > .progress-bar {
  background: grey;
  height: 100%;
  left: calc(0% - 8px);
  position: absolute;
  width: 16px;
}
